.container-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.progress-bar {
  height: 24px;
  background-color: grey;
}

.progress-bar-wrapper {
  height: 24px;
  width: 100%;
  background-color: black;
  margin: 10px;
}

h1 {
  font-family: monospace;
}

button {
  padding: 10px;
  border-radius: 5px;
}

.property-value {
  float: right;
}

@media screen and (max-width: 500px) {
  .container-wrapper {
    width: 100%;
  }
  /* .lower-section {
    display: flex;
    justify-content: space-between;
  } */
}
